bitbake.lock
build
buildhistory/
cache
deploy
environment-angstrom-*
sources
git_config
subversion_config/
package-depends.dot
pn-depends.dot
task-depends.dot
tags
conf/auto.conf
conf/sanity_info
conf/site.conf